{% extends "home.html" %}

{% load static %}


{% block contenido %}
    <form action="curso_formulario" method="POST" class=" w-auto d-flex align-items-center justify-content-center flex-column">
        {% csrf_token %}
        <p>Nombre:</p>
        <input type="text" name="nombre" required>
        <p>Camada</p>
        <input type="number" name="camada" required>
        
        <button>Enviar</button>
        <br>
        <a class="btn btn-outline-info" href="{% url 'cursos' %}">volver</a>
    </form>

    
    



{% endblock %}