{% extends "home.html" %}

{% load static %}


{% block contenido %}
    <form action="profesor_formulario" method="POST" class=" w-auto d-flex align-items-center justify-content-center flex-column">
        {% csrf_token %}
        <p>Nombre:</p>
        <input type="text" name="nombre" required>
        <p>Dni</p>
        <input type="number" name="dni" required>
        <p>Curso</p>
        <input type="text" name="curso" required>
        
        <button>Enviar</button>

        <br>
        <a class="btn btn-outline-info" href="{% url 'profesores' %}">volver</a>
    </form>
    



{% endblock %}